@import "./Home.module.scss";
@import "./Headline.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

// border box for all elements
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  @apply bg-gray-100;
}
